/*

white = --desaturated-dark-cyan
pinkish ? = --dark-grayish-cyan
dark = --very-dark-grayish-cyan


*/

.App-header {
  height: 156px;
  background: url("../public/assets//bg-header-desktop.svg");
  background-color: #5ca5a5;
  background-size: cover;
  background-position: center;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new,
.featured {
  display: grid;
  place-items: center;
  padding: 0.5em;
  border-radius: 20%/50%;
  font-weight: 700;
  font-size: 0.8rem;
  color: var(--desaturated-dark-cyan);
  background: var(--dark-grayish-cyan);
}
.featured {
  background-color: var(--very-dark-grayish-cyan);
}
h3,
h4 {
  margin: 0;
}
