@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --desaturated-dark-cyan: #effafa;
  --lgc-background: #effafa; /* Light Grayish Cyan */
  --lgc-filter-tablet: #deeded;
  --dark-grayish-cyan: #7b8e8e;
  --very-dark-grayish-cyan: #2c3a3a;
}

body {
  margin: 0;
  padding: 0;
  font-family: "League Spartan", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--lgc-background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
